form{
    margin:50px 0 0 60px;
}

input{
    height: 25px;
    border-radius: 2px;
    font-size: 15px;
    text-align: center;
}

.inputTags{
    border-radius: 2px;
    width: 300px;
}

p{
    font-size: 22px;
}

#btn{
    background-color: black;
    color: white;
    width: 150px;
    height: 30px;
    font-size: 19px;
    float: right;
    margin: 5rem;
    border-radius: 2px;
    
}
#btn:hover{
    background-color: rgb(53, 53, 53);
}
#file{
    display:none;
}
#btn1{
    width: 150px;
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    width: 150px;
    height: 30px;
    padding: 0px;
    border-radius: 2px;

}
#btn1:hover{

    background-color: rgb(53, 53, 53);
}

label{
    
    
    color: white;
    height: 30px;
    font-size: 18px;
    
}